<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>今ココなう！(β):パスワード変更</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="https://www.fujita-lab.com/imakoko/simple.css">
<!--<link rel="stylesheet" type="text/css" href="http://imakoko.alkn.net/css/simple.css">-->

  <script src="/static/user.js" type="text/javascript"></script>
  <script type="text/javascript">
  <!--//--><![CDATA[//><!--
	function checkForm()
	{
		if (document.form1.username.value == "")
		{
			alert('ユーザーIDは必須です');
			return false;
		}
		if (document.form1.email.value == "")
		{
			alert('メールアドレスは必須です');
			return false;
		}
		return true;
	}
  //--><!]]>
  </script>
</head>
<body>
<div id="Header"><!-- ヘッダー-->
	<h1 id="headerTitle">今ココなう！(β)</h1>
</div><!-- end of Header -->

<div id="Content"><!-- 本文 -->
<p>
<h2>パスワード変更受付</h2>
<p>
以下のフォームに必要事項を入力して送信してください。
<br>
<form method="POST" action="/change_password_request" name="form1" onSubmit="return checkForm();">
<font color="red"></font><br />
<table class="form">
<tr>
  <th>ユーザーID<span class="required">(*)</span></th>
  <td><input name="username" size="20" value="" /></td>
</tr>
<tr>
  <th>メールアドレス<span class="required">(*)</span></th>
  <td><input name="email" size="64" value="" /></td>
</tr>
</table>
<input type="submit" value="送信" /><br />
</form>
<span class="required">(*)</span>は必須項目となります。<br>

</div><!-- End of Content -->

<div id="Footer">
<a href="/">TOPページへ戻る</a>
</div><!-- End of Footer -->

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10619043-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- Google Analytics -->
</body>
</html>